.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
}

.header h1 {
  cursor: pointer;
  text-decoration: none;
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.header--center h1 {
  transform-origin: center;
}

.header h1:hover {
  transform: scale(1.15);
}

.header--center {
  justify-content: center;
}
